<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- No olvidar que este metodo es para que la página de los usuarios se adapte al celular -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>

    <!--el link del css siempre va a este momento antes de finalizar el head-->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<!-- cuadrito general que da forma de tarjeta doble -->
<div class="user-dashboard-container">

    <!-- lado izqu el cuadrito de títulos y las escripciones -->
    <div class="user-sidebar-panel">
        <h2>Gestión de Usuarios</h2>
        <p>Easy parking, gestión de parqueaderos comuncales.</p>
    </div>

    <!-- Lado derecho del diseño de la tabla-->
    <div class="user-content-panel">

    <h1>Lista de Usuarios</h1>
    <table class="styled-table">
        <thead>
        <tr>
            <th>Acciones</th>
            <th>ID Usuario</th>
            <th>Apellido</th>
            <th>Contraseña</th>
            <th>Correo</th>
            <th>Documento</th>
            <th>Nombre</th>
            <th>Placa</th>
            <th>Rol</th>
            <th>Telefono</th>
        </tr>
        </thead>
        <tbody>

        <!--ACA CORREMOS LA LISTA-->

        <tr th:each="usuario : ${usuarios}"> <!-- ESTE ES EL MOTODO PARA CORRER-->

                <td>
                    <!--PARA EDITAR
                    RECOMENDACION PARA NO OLVIDAR
                    No podemos usar el siguiente metodo porque <form method="post"> para Eliminar por seguridad y buenas prácticas
                    para realizar una acción de cambio o borrado en la base de datos. Por ende usamos Usamos <a> para Editar porque
                    solo nos redirige a una vista (GET) y no realiza ninguna acción de cambio en la base de datos
                    <form th:href="@{'/view/usuarios/update/' + ${usuario.id_usuario}}" method="get">
                    <button type="submit">Editar</button>
                    </form> -->

                    <a th:href="@{'/view/usuarios/update/' + ${usuario.id_usuario}}">Editar</a>

                   <!-- PARA ELIMINAR-->

                    <form th:action="@{'/view/usuarios/delete/' +${usuario.id_usuario}}" method="post">

                        <button type="submit">Eliminar</button>
                    </form>

                </td>
                    <td th:text="${usuario.id_usuario}"></td>
                    <td th:text="${usuario.apellido}"></td>
                    <td th:text="${usuario.contrasena}"></td>
                    <td th:text="${usuario.correo}"></td>
                    <td th:text="${usuario.documento}"></td>
                    <td th:text="${usuario.nombre}"></td>
                    <td th:text="${usuario.placa}"></td>
                    <td th:text="${usuario.rol}"></td>
                    <td th:text="${usuario.telefono}"></td>
            </tr>

        <!-- ESTE ES PARA VALIDAR SI NO EXISTEN USUARIOS-->
        <tr th:if="${#lists.isEmpty(usuarios)}">
            <td colspan="9">No hay usuarios resgistrados.</td>
        </tr>
        </tbody>
    </table>
    <br/>
    <button><a th:href="@{/view/usuarios/formulario}">Agregar Nuevo Usuario</a></button>
    </div>
</div>
</body>
</html>